<!DOCTYPE html>
    <html lang="en">
        <head>
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        </head>

        <h1>Create Genre</h1>

        <div class="row">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="name">Genre name:</label>
                    <input type="text" class="form-control" maxlength="100" name="name">
                    </br>
                    <button type="submit" class="btn btn-default" id="submit" type="submit">Create!</button>
                </div>
            </form>
        </div>

    </html>
